.header-overrides {
    background-color: #fafafa;
    color: #616161 !important;
    height: 90px !important;
}

.page-footer {
    background-color: #fafafa;
    color: #616161;
}

.footer-copyright p {
    color: #616161;
}

.brand-logo {
    color: #616161 !important;
}

nav ul a {
    color: #616161 !important;
}

nav ul li {
    line-height: 90px !important;
}

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    line-height: 90px;
}

.header-override-image {
    padding: 5px;
    max-height: 90px;
}

.card .card-content p {
    padding-bottom: 15px !important;
}

.carousel-text-wrapper {
    opacity: 0.9 !important;
}

.button-collapse {
    color: #616161;
}
