.box.issue img {
  width: 100% !important;
  object-fit: cover !important;
  height: 300px !important;
}

.info-bar {
  height: 50%;
}

@media screen and (min-width: 40em) {
  #article h2 {
    font-size: 2rem;
  }
}

@import "../../../../themes/OLH/assets/scss/app.scss";
