
$very-dark-primary-color: #fff;

@import "../../../../themes/OLH/assets/scss/app.scss";

.indentQuote { @extend blockquote; }

.header-image-bar {
  padding: rem-calc(2px) !important;
}

.dark-primary-bg {
  background-color: #000000;
}

.dark-primary-bg h2, p {
  color: #0a0a0a;
}