
$very-dark-primary-color: #fff;

@import "../../../../themes/OLH/assets/scss/app.scss";

.indentQuote { @extend blockquote; }

.header-image-bar {
  padding: rem-calc(2px) !important;
}

.dark-primary-bg {
  background-color: #FFFFFF;
}

.dark-primary-bg h2 {
  color: #0a0a0a;
}

.dark-primary-bg p {
  color: #0a0a0a;
}

footer {
  svg {
    height: 30px;
    width: 100px;

    path {
      fill: $black;
    }
  }
}